body {
  margin: 0;
  background-color: rgb(15, 108, 184);
}
div {
  position:absolute;
  width: 100%;
  height: 100%;
  
}
.cover {
  background-image: url("../img/cga_background_winter.png");
  background-size: cover

}
h1 {
  text-align: center;
  font-family: 'IM Fell English SC', serif;
  font-size: 6em;
  font-weight: normal;
  text-transform: uppercase;
  
}

button {
  display: block;
  margin: 0 auto;
  width: 150px;
  font-family: 'IM Fell English SC', serif;
  font-size: 2em;
  height: 50px;
  border: none;
  text-transform: uppercase;
  background-color: transparent;
}
button:hover {
    background-color: transparent;
    color: rgb(87, 84, 84);
}

#game {
  display:block;
  margin: 0 auto;
}